@import 'mixins.less';
@import 'volvo.config.less';
@import 'modules.less';
@import 'volvo.less';

// Keep this block
#fbi-content {

    iframe {
        border: 0 !important;
    }
    a {
        .fbi-link();
    }

    .fbi-headerblock {
    	.fbi-volvo-hero-module();
    }
}

// Remove this block
#fbi-content {
    .intro {
        .fbi-textblock();

        ul {
            list-style-type: initial;
            display: inline-block;
            text-align: left;
        }
    }

    .headlines {
        .fbi-textblock();
    }

    .buttons {
        .fbi-textblock();

        a {
            &.regular {
                .fbi-volvo-button();
            }
            &.outlined {
                .fbi-volvo-button.outlined();
            }
            &.blue {
                .fbi-volvo-button.blue();
            }
        }
    }

    .buttons-dark {
        .fbi-textblock();
        background-color: @new-gray;
        color: #ffffff;

        a {
            &.dark-regular {
                .fbi-volvo-button.dark();
            }
            &.dark-outlined {
                .fbi-volvo-button.dark-outlined();
            }
        }
    }
}

@import 'style.1266.less';
@import 'style.768.less';
@import 'style.480.less';
@import 'overrides.less';
