@volvo-gray: #161618;
@digital-blue: #5b7f95;
@brand-color: #003057;
@black: #000000;
@black-alternate: #1a1a1a;
@light-grey: #ececec;
@white: #ffffff;
@button-divider: #bdd6e6;
@new-blue: #007bcd;
@new-gray: #161618;

// Button
@button-color: @brand-color;
@button-font-color: @white;

// Button hover
@button-hover-color: @digital-blue;
@button-hover-font-color: @white;

// Button outlined
@button-outlined-color: @white;
@button-outlined-font-color: @brand-color;

// Button outlined hover
@button-outlined-hover-color: @brand-color;
@button-outlined-hover-font-color: @white;

// Button dark
@button-dark-color: @white;
@button-dark-font-color: @brand-color;

// Button dark hover
@button-dark-hover-color: @digital-blue;
@button-dark-hover-font-color: @white;

// Button outlined dark
@button-outlined-dark-border-color: @white;
@button-outlined-dark-font-color: @white;

// Button dark outlined hover
@button-outlined-dark-hover-color: @white;
@button-outlined-dark-hover-font-color: @brand-color;

@primary-background: @white;
@primary-font-color: @volvo-gray;

@font-family: 'Volvo Sans', Helvetica, Arial, sans-serif;
@font-family-broad: 'Volvo Broad', Helvetica, Arial, sans-serif;
@font-family-medium: 'Volvo Sans', Helvetica, Arial, sans-serif;
@font-family-italic: 'Volvo Serif', 'Times New Roman', serif;

@content-max-width: 1266px;
